<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title th:text="#{page.title.main}"></title>
<th:block th:include="template :: head"></th:block>
	
</head>
<body> 
	<th:block th:replace="template :: navbar"></th:block>

<div class="container">
	<div class="col-md-12">
		<th:block th:replace="template :: header( #{page.index.header}, #{page.index.header.description})"></th:block>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5><a class="text-success" href="#">Lorem ipsum dolor sit amet,
						consectetur adipiscing elit</a></h5>
				</div>
				<div class="panel-body">Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Donec maximus eleifend ipsum, quis
					dignissim mauris. Morbi at mollis velit, ut finibus mauris. Donec
					nec pharetra sapien. Nullam feugiat posuere massa. Mauris pharetra
					condimentum mollis. Suspendisse nec pharetra turpis. Donec id
					luctus orci, in auctor augue. Quisque lorem nunc, egestas quis nunc
					sed, suscipit rhoncus urna.
					<div class="row">
						<div class="col-md-10">
							<a class="text-default" href="#">20 Комментариев</a>		
							<a class="text-default" href="#"><span class="label label-default">Lorem</span></a>
							<a class="text-default" href="#"><span class="label label-default">ipsum</span></a>
							<a class="text-default" href="#"><span class="label label-default">sit</span></a>
							<a class="text-default" href="#"><span class="label label-default">amet</span></a>
							<a class="text-default" href="#"><span class="label label-default">consecteturs</span></a>
							<a class="text-default" href="#"><span class="label label-default">elit</span></a>
					
						</div>
						<div class="col-md-2">
							<button type="button" class="btn btn-default pull-right">Читать далее</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Sarkhad</h3>
				</div>
				<div class="panel-body">
					Креативов: 0<br> Награды:
				</div>
				<div class="panel-footer">
					<a class="btn btn-success" style="width:100%;" th:inline="text" th:href="@{~/personal/editor}" role="button">[[#{page.index.panel.profile.addpost}]] <span class="glyphicon glyphicon-plus"
								aria-hidden="true"></span></a>
				</div>
		</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" th:text="#{page.index.panel.tagscloud.title}"></h3>
				</div>
  				<div class="panel-body">
  					<div class="row">
  						<canvas class="center-block" width="260" height="300" id="tagsCloud"> 
							<ul> 
								<li th:each=" tag : ${tags}"><a th:with="root=@{~/tags/}" th:href="${root} + ${tag.address}" th:text="${tag.name}" target="_blank"></a></li>
							</ul> 
						</canvas>
  					</div>
				</div>
			</div>
</div>
		
				<div class="col-md-4 col-md-offset-3">
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li><a href="#" aria-label="Previous"> <span
							aria-hidden="true">&laquo;</span>
					</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#" aria-label="Next"> <span
							aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
		<th:block th:include="template :: footer"></th:block>
	</div>
<th:block th:include="template :: scripts"></th:block>
<script th:src="@{/js/jquery.tagcanvas.min.js}"></script>
<script>$(document).ready(function() { 
	$('#tagsCloud').tagcanvas({ 
		textColour : '#5cb85c', // Цвет текста 
		outlineThickness : 1, // Обводка у ссылок (Да, Нет) 
		maxSpeed : 0.03, // Максимальная скорость 
		depth : 0.9 // Глубина. От 0 до 1 
		}) 
		});</script>
</body>
</html>